@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: black;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
}

p {
  font-family: "Archivo", sans-serif !important;
  font-weight: 400;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid white;
}

.ham{
  display: none;
}

nav .nav-links a {
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  margin: 15px;
  color: white;
  font-weight: 200;
  font-size: 24px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin: 100px 0 10px 0;
}
.header h1 {
  font-weight: 900;
  font-size: 120px;
}
.image {
  margin: 20px;
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 56px;
}

.frames {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  margin-top: 50px;
}
.frames img {
  width: 400px;
  height: auto;
  padding: 10px;
}

.frames p {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 2px;
  font-size: 17px;
}

.frames p:nth-child(3) {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 13px;
}

.about {
  padding: 156px 10px;
  text-wrap: wrap;
  margin: 50px;
}
.about div {
  display: flex;
  justify-content: start;
}

.about div h2 {
  width: 75%;
  font-size: 45px;
}

.getin {
  border-bottom: 1px solid white;
}
.getintouch {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.getintouch .head h3 {
  font-family: "Chivo", sans-serif;
  font-weight: 900;
  font-size: 48px;
}
.getintouch .para {
  width: 41vw;
  font-size: 24px;
}


@media (max-width: 1239px) {
  .header h1 {
    font-size: 100px;
  }
  .image9 {
    display: none;
  }
}
@media (max-width: 889px) {
  .header h1 {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .nav-items {
    display: none;
  }
  .ham{
    display: block;
  }
}
@media (max-width: 440px) {
  .frames {
    width: 85%;
  }
  .images {
    width: 85%;
  }
  .frames img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 515px) {
  .header h1 {
    font-size: 42px;
  }
}
